<body class="about-us stretch">

	<div align="center">
		<h2>The Team</h2>
		<div class="row" id="team-pic">
			<div class= "col-md-4 "><img src="https://photos-5.dropbox.com/t/2/AAC6CKVkrdXynftlx8G8NRSgOlZbCaLtbV2VsjWB79RDLw/12/59723155/jpeg/32x32/8_0-0-513-513-513-513/1448359200/0/2/20151006_DBC_078_sq.JPG/EJWV8PQBGJl2IAIoAg/NnvNSSssPqGAnOVqFGkisBsCxACtmDj-zqqMUPG2rFU?size_mode=5&size=178x178" class="img-responsive img-circle" alt="justin" width="200" height="250"></div>
			<div class= "col-md-4 "><img src="https://photos-3.dropbox.com/t/2/AACjME0uM_cVtW0e3tU-CyY7AVrImvPM8740ph-xRzKcaQ/12/59723155/jpeg/32x32/8_0-0-536-536-536-536/1448359200/0/2/20151006_DBC_141_sq.JPG/EJWV8PQBGJl2IAIoAg/wkrPa-EeC8p7vKXkE1fJTB4g3HfI5taI5SCPypsjuIk?size_mode=5&size=178x178" class="img-responsive img-circle" alt="robin" width="200" height="250"></div>
			<div class= "col-md-4 "><img src="https://photos-1.dropbox.com/t/2/AAA6c2WTJj7WR5UqxpmJTbeifQ4IvGa8wq0iEzOItdVeOA/12/59723155/jpeg/32x32/8_0-0-533-533-533-533/1448359200/0/2/20151006_DBC_168_sq.JPG/EJWV8PQBGJl2IAIoAg/wIO88zgvHw8-Y-GMgijdFszKKiUb7lbTmqJm0esqE20?size_mode=5&size=178x178" class="img-responsive img-circle" alt="wellington" width="200" height="250"></div>
		</div>
	<div>

	<div class="about-header" align="center">
		<h1>About Us</h1>
		<p></p>
	</div>

	<div class="about-body">
		<p>More info about pick up!</p>
	</div>
	
</body>
