<div class="site-wrapper">
  <div class="site-wrapper-inner">
  </div>
  <div class="cover-container">
    <div class="inner cover">
      <h1 class="cover-heading text-shadow-format">Pick Up!</h1>
      <p class="lead">
        <%=link_to 'Register', new_user_path, class:"btn btn-lg btn-default spacer"%>

        <%=link_to 'Login', new_session_path, class:"btn btn-lg btn-default spacer logmein"%>
      </p>
      <p class="lead text-shadow-format">A whole new way to find activities
      </p>
      <p class="lead">
        <%=link_to 'Learn More', about_path, class:"btn btn-lg btn-default"%>
      </p>
    </div>
  </div>
  <div class="site-wrapper-bottom">
  </div>
</div>



