  <%= javascript_include_tag 'userlogin/geolocate.js'%>

  <table>
	  	<thead>

	  	</thead>

	  	<tbody>
	  		<td class="event-buttons"><h2>Events near you:</h2></td>
		  	<td class="event-buttons pull-right"><%= button_to "Create an event", new_event_path, method: "get", class: "btn-success" %></td><td class="event-buttons pull-right"><%= button_to "See all events", allevents_path, method: "get", class: "btn-info" %></td>
	  	</tbody>
  </table>
<div class="row">
  <div id = "nearevents"></div>
</div>

<div class="idk" style="display: none;">

</div>
