/* line 5, /Users/apprentice/Desktop/PickUp/app/assets/stylesheets/search.scss */
.search-results {
  width: 80%;
  text-align: center;
}

/* line 10, /Users/apprentice/Desktop/PickUp/app/assets/stylesheets/search.scss */
.centercolumn {
  text-align: center;
}
