// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlight{
  background-color: rgba(65, 20, 165, 0.3)
}

.table-responsive {
	background-color: grey;
	width: 300px;
	line-height: 1cm;
}

.event-buttons {
	margin-top: 40px;
}

table {
	width: 100%;
}

#WORK {
	margin-left: auto;
	display: inline-block;
}

.event-table {
	line-height: 20px;
}

.new_event {
	border: 2px solid black;
	padding: 30px;
}

.new-event-container {
	width: 350px;
}

#wrapper {
  padding-left: 45%;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -45%;
  left: 45%;
  width: 45%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  right: 25%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {
    #wrapper {
      padding-left: 0;
    }
    #sidebar-wrapper {
      left: 0;
    }
    #wrapper.active {
      position: relative;
      left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }
}

body {
  padding-top: 50px;
}

div.event-card a {
  margin-left: 0;
  margin-right: 0;
}

div.event-card {
  padding-bottom: 1px;
  padding: 10px;
  height: 300px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 70px;
  color: white;
  border-radius: 5%;
  background-size: cover;
  color: white;
  opacity: .9;
  text-size: 100px;
  color: white;
}

div.nearby-event-page a:link {
  color: white;
}

div.nearby-event-page a:hover{
  opacity: .8;
}

div.nearby-event-page a:visited {
  color: white;
}

div#Basketball {
  background-image: image-url('Basketball.jpg');
}

div#Football {
  background-image: image-url('football.jpeg');
}

div#Tennis {
  background-image: image-url('tennis_2.jpg');
}

div#Golf {
  background-image: image-url('Golf.jpg');
}

div#Baseball {
  background-image: image-url('Baseball.jpg');
}

div#Bowling {
  background-image: image-url('Bowling.jpg');
}

div#Misc {
  background-image: image-url('Sports-Equipment.jpg');
}

div#Soccer {
  background-image: image-url('Soccer.jpg');
}

div#PingPong {
  background-image: image-url('Pingpong.jpg');
}

div#Volleyball {
  background-image: image-url('Volleyball.jpg');
}

div.container {
  width: 100%
}

a.showme.glyphicon.glyphicon-map-marker {
color: rgba(215, 40, 40, 0.9);
  font-size: 50px;
  margin-right: auto;
  margin-left: auto;
    margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pinnn {
  position: absolute;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

a.test {
  background-color: black;
}

#filters{
  width: 100%;
  margin: 1%;
  text-align:center;
}

#allevents{
  width: 100%;
  text-align:center;
}
