// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlight{
  background-color: rgba(65, 20, 165, 0.3)
}


.table-responsive {
	background-color: grey;
	width: 300px;
	line-height: 1cm;

}

.event-buttons {
	margin-top: 40px;
}

table {
	width: 100%;
}

#WORK {
	margin-left: auto;
	display: inline-block;
}

.event-table {
	line-height: 20px;
}



#wrapper {
  padding-left: 45%;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -45%;
  left: 45%;
  width: 45%;
  // background: yellow;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }
}
body {
  padding-top: 50px;
}
div#mappp {
  height: 100%;
}
div.event-card {
  background-color: yellow;
  border: 5px solid red;
  padding: 10px;
}

div.soccer {
  background-color: blue;
}