// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlight{
  background-color: rgba(65, 20, 165, 0.3)
}


.table-responsive {
	background-color: grey;
	width: 300px;
	line-height: 1cm;

}

.event-buttons {
	margin-top: 40px;
}

table {
	width: 100%;
}

#WORK {
	margin-left: auto;
	display: inline-block;
}

.event-table {
	line-height: 20px;
}
