// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup-form .form-control {
	width: 200px;
}

#signup-form {
	margin: auto;
  width: 300px;
  border:3px solid black;
  padding: 10px;
}